<div class="mt-4">
  <div>
    <a href="/me/stored/courses">Quay lại</a>
    <h3>Khóa học đã xóa</h3>
  </div>

  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên khóa học</th>
      <th scope="col">Trình độ</th>
      <th scope="col">Thời gian tạo</th>
      {{!-- Hoặc col-span = 2 --}}
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      {{#each courses}}
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.level}}</td>
      <td>{{this.createAt}}</td>
      <td>
          <a href="/courses/{{this._id}}/edit" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
          <a href="" class="btn btn-link" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#delete-course-modal">Xóa vĩnh viễn</a>
      </td>
    </tr>

    {{else}}
    <tr>
      <td colspan="5" class="text-center">
        Thùng rác trống.
        <a href="/me/stored/courses">Danh sách khóa học</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>

<script>
  document.addEventListener("DOMContentLoaded",function(){
      var courseId;
      const btnDeleteCourse = document.getElementById('btn-delete-course');
      const deleteForm = document.forms["delete-form"];
      const restoreForm = document.forms["restore-form"];
      var btnRestore = $(".btn-restore");
      //Khi thằng dialog click
      $('#delete-course-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); 
        var id = button.data('id'); 
        courseId = id;
      });
     
      btnDeleteCourse.onclick = function () {
        deleteForm.action ="/courses/"+ courseId + "/force?_method=DELETE";
        deleteForm.submit();
      }

      btnRestore.click(function (event) {
        event.preventDefault();
        courseId = $(this).data("id");
        restoreForm.action ="/courses/"+ courseId + "/restore?_method=PATCH";
        restoreForm.submit();
      })
});
</script>




{{!-- Hidden form --}}
<form name="restore-form" method="post"></form>
<form name="delete-form" method="post"></form>




{{!-- Confirm xóa khóa học --}}
<div class="modal" tabindex="-1" id="delete-course-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn xóa khóa vĩnh viễn học này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button id="btn-delete-course" type="button" class="btn btn-danger" action="">Xóa vĩnh viễn</button>
      </div>
    </div>
  </div>
</div>